.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #46474a;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 16px;
}

.action {
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: bold;
    background-color: #56585d;
    transition: 0.5s;
}

.action:hover {
    transition: 0.5s;
    background-color: #404145;
}

@media (max-width: 500px) {
    .alert {
        z-index: 4;
    }

    .main {
        max-width: 300px;
    }
}
