.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid #E0E0E0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

.action {
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.5s;
}

@media (max-width: 500px) {
    .main {
        max-width: 300px;
    }
}
