.music {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    flex-wrap: wrap;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    max-width: 75%;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    gap: 16px;
}

.musicKey {
    font-size: 16px;
    color: #424242;
    margin: 8px 0 0 0;
    width: 25px;
}

.main > img {
    width: 64px;
    height: 100%;
    border-radius: 8px;
}

.musicTitle {
    font-size: 16px;
    font-weight: bold;
    margin: 8px 0 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: linear-gradient(45deg, #FF1744, #FFD600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.musicDuration {
    font-size: 16px;
    color: #424242;
    margin: 8px 0 0 0;
}

@media (max-width: 768px) {
    .main {
        width: 75%;
        justify-content: flex-start;
    }

    .main > div:first-child, .main > button:first-child {
        display: none;
    }

    .main > img {
        display: none;
    }

    .second {
        width: 25%;
    }

    .musicKey {
        display: none;
    }
}
