.header {
    height: 100%;
    width: 15%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: start;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
}

.link {
    font-size: 24px;
    text-decoration: none;
    color: #424242;
}

.link:hover {
    color: #00E676;
}

.title {
    font-size: 32px;
    font-weight: bold;
    color: #424242;
    margin: 0;
}

.title:not(:first-child) {
    margin: 32px 0 0 0;
}

/* Temporaire */
@media (max-width: 768px) {
    .header {
        display: none;
    }
}
