.header {
    width: 250px;
    height: 90%;
    z-index: 3;
    overflow-y: clip;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(45deg, #00E676, #00B0FF);
    gap: 16px;
    overflow: scroll;
}

.button {
    display: none;
    position: absolute;
    left: 16px;
    top: 8px;
    width: 64px;
    height: 64px;
    cursor: pointer;
    transition: left 0.5s;
}

.button > img {
    width: 32px;
    height: 32px;
}

.link {
    font-size: 24px;
    text-decoration: none;
    color: white;
    padding-left: 16px;
}

.link:hover {
    color: #E0E0E0;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding: 0 16px 16px 16px;
    color: white;
}

.title:first-child {
    padding-top: 48px;
}

.separator {
    width: 80%;
    height: 1px;
    background-color: white;
    border: none;
    margin-left: 16px;
}

@media (max-width: 768px) {
    .header {
        position: absolute;
        left: -0%;
        width: 100%;
        height: 100%;
        padding: 0;
        transition: left 0.5s;
    }

    .button {
        display: block;
    }
}
