.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.main > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.renameAlert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputAlert {
    width: 70%;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin: 8px;
    border: none;
    background-color: #56585d;
    color: white;
}

.inputAlert:focus {
    outline: none;
}

.inputAlertInvalid {
    border: 1px solid red;
}

.textAlert {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(45deg, #FF1744, #FFD600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
