.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 4px;
}

.button {
    border: none;
    background-color: transparent;
}

.button > img {
    width: 24px;
    height: 24px;
}

/* if device is a phone then display nothign */
@media (max-width: 768px) {
    .actions {
        /* display: none; */
    }
}
