.infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
    gap: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.title {
    font-size: 24px;
    font-weight: bold;
    color: #424242;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.stat {
    font-size: 16px;
    color: #424242;
    margin: 0;
}
