.playlists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.playlist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.play {
    position: absolute;
    opacity: 0;
}

.play img {
    width: 64px;
    height: 64px;
}

.playlistName {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 8px 0 0 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.playlistLength {
    font-size: 16px;
    color: white;
    margin: 8px 0 0 0;
}

.playlist:hover .playlistName,
.playlist:hover .playlistLength {
    filter: blur(2px);
    transition: filter 0.2s ease-in-out;    
}

.playlist:hover .play {
    opacity: 1;   
    transition: opacity 0.2s ease-in-out;
}

.cover-1 {
    background: linear-gradient(45deg, #00E676, #00B0FF);
}

.cover-2 {
    background: linear-gradient(45deg, #00B0FF, #FF1744);
}

.cover-3 {
    background: linear-gradient(45deg, #FF1744, #FFD600);
}

.cover-4 {
    background: linear-gradient(45deg, #FFD600, #00E676);
}   

@media (max-width: 768px) {
    .playlists {
        width: 100%;
        justify-content: center;
        margin-top: 64px;
    }

    .playlist {
        width: 100px;
        height: 100px;
    }
}
