.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 16px;
}

.paginationButton {
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #46474a;
}

.paginationButton:hover {
    background-color: #404145;
}

.paginationButton > img {
    width: 20px;
    height: 20px;
}
