.player {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 70px;
    background: linear-gradient(45deg, #00E676, #00B0FF);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.player input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

.player input[type=range]:focus {
    outline: none;
}

.player input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
}

.player input[type=range]::-webkit-slider-thumb {
    height: 12px;
    width: 12px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

.player input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
}

.player input[type=range]::-moz-range-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
}

.player input[type=range]::-moz-range-thumb {
    height: 12px;
    width: 12px;
    border-radius: 8px;
    border: none;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

.player input[type=range]::-ms-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    background: #fff;
    border-radius: 8px;
}

.player input[type=range]::-ms-thumb {
    height: 12px;
    width: 12px;
    border-radius: 8px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
}

.first {
    width: 33%;
    display: flex;
    flex-direction: row;
    flex-direction: flex-start;
    align-items: center;
    padding: 0 16px;
}

.infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px;
    overflow: hidden;
}

.infos p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.first > img {
    width: 100px;
    border-radius: 8px;
    border: 1px solid #fff;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.second {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.time {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.time p {
    margin: 0;
    color: #fff;
    font-size: 12px;
}

.controls > img {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.third {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 16px;
}

.third input[type=range] {
    width: 50%;
}

@media (max-width: 768px) {
    .player {
        z-index: 1;
    }

    .infos {
        display: none;
    }

    .third input[type=range] {
        width: 100%;
    }
}
