.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    height: 150px;
    margin: 16px;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    cursor: pointer;
    background-color: #46474a;
}

.main img {
    width: 64px;
    height: 64px;
}

.addAlert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputAlert {
    width: 70%;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    margin: 8px;
    border: none;
    background-color: #56585d;
    color: white;
}

.inputAlert:focus {
    outline: none;
}

.inputAlertInvalid {
    border: 1px solid red;
}

.textAlert {
    font-size: 16px;
    font-weight: bold;
    background: linear-gradient(45deg, #FF1744, #FFD600);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 768px) {
    .main {
        width: 100px;
        height: 100px;
    }
}
