.musics {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.musicList {
    width: 100%;
}

.musics::-webkit-scrollbar {
    width: 5px;
}

.musics::-webkit-scrollbar-track {
    background: transparent;
}

.musics::-webkit-scrollbar-thumb {
    background: grey;
}

.musics {
    scrollbar-width: thin;
    scrollbar-color: grey transparent;
}

.empty {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    padding: 16px;
}

.empty > img {
    width: 128px;
    height: 128px;
}

